#demo_container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*
 * Fix for Safari browsers 
 */

 #demo_container *{
    box-sizing: content-box;
 }

 /* end fix */

#canvas_container {
    max-width: 640px;
    width: 100%;
}

#canvas_container>canvas {
    border: .1rem solid blue;
    padding: .5rem;
}

#demo_container form{
    display: flex;
    width: fit-content;
    flex-direction: column;

    border: .1rem solid blue;
    padding: .5rem;
}

#demo_container fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    max-width: 22rem;

    grid-row-gap: 1rem;
    margin: 1rem;
}


#demo_container fieldset label {
    grid-column-start: span 2;
}


#demo_container fieldset.two_column{
    display: flex;
    justify-content: space-evenly;
    
}


#demo_container output {
    justify-self: center;
}

/* expand for larger screens */
@media screen and (min-width: 550px) {
    #demo_container fieldset {
        max-width: 25rem;
        grid-template-columns:
            10rem 10rem 5rem;
        grid-auto-rows: 1.25rem;
    }

    #demo_container form label {
        grid-column-start: span 1;
    }
}

.demo_figure > canvas{
    width: 100%;
    height: auto;
    touch-action: none;
}