#demo_container{
    max-width: 600px;
}

#demo_container form{
    display: flex;
    width: fit-content;
    flex-direction: column;

    border: .1rem solid blue;
    padding: .5rem;
}

#demo_container fieldset{
    display: grid;
    grid-template-columns:
         10rem 10rem auto;
    justify-items: start;
    max-width: 22rem;

    grid-row-gap: 1rem;
}

#demo_container fieldset.two_column{
    display: flex;
    justify-content: space-evenly;
    
}


/*
#demo_container button{
    grid-row: span 2;
}
*/

#demo_container output{
    justify-self: center;
}

